
$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #008000;
$GreenTitel:#1f911f;
$withe: #ffffff;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

